includes:
    - vendor/craftcms/phpstan/phpstan.neon
    - phpstan.php

parameters:
    paths:
        - src
    level: 4
    ignoreErrors:
      - '#Constant CRAFT_BASE_PATH not found.#'
    scanFiles:
      - vendor/yiisoft/yii2/Yii.php
      - vendor/craftcms/cms/src/Craft.php
      - vendor/craftcms/cms/src/behaviors/CustomFieldBehavior.php.template
    reportUnmatchedIgnoredErrors: false
    excludePaths:
      - src/craft/*
      - src/illuminate/*
      - src/actions/RenderCompiledClasses.php
      - src/browser/*
