<!DOCTYPE html>
<html>
<head>
    <title>Test Layout</title>
</head>
<body>
    <header>Layout Header</header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>Layout Footer</footer>
</body>
</html>
