<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutOutputDuringTests="false"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./modules</directory>
            <directory suffix=".php">./templates</directory>
        </include>
    </coverage>
    <php>
        <!-- Override the database so you can run your tests in an isolated -->
        <!-- environment without affecting your local development. -->
        <!-- <env name="CRAFT_DB_DATABASE" value="craftpest_test" /> -->
        <env name="CRAFT_QUEUE_DRIVER" value="sync" />
    </php>
</phpunit>
